
.exam-title {
	font-size:15px;
	margin: 0px 0px 0px 5px;
	font-family: Microsoft YaHei;
}
.subject-box {
	margin-top:0px; 
	margin-left:0px; 
	background-color: #E8E8E8;
	height: 100%;	
}
.list-group {
	width: 100%;
}

.subject-title {
	margin-top: 15px;
	font-weight: bold;
}
